  <div class="page">
    <%= render partial: 'hi_there/shared/page_header', 
               locals: {
                 title: @course.title, 
                 meta: t("hi_there.courses.current_state.#{@course.current_state}")
               } %>

    <div class="page-actions">
      <div class="container">
        <div class="btn-toolbar">
          <div class="btn-group">
            <%= link_to_with_state(link: t('hi_there.courses.actions.open'),
                                   path: open_course_path(@course),
                                   is_active: @course.opened?,                                   
                                   is_dangerous: @course.draft?,
                                   confirm_message:  t('hi_there.courses.actions.confirm_open'),
                                   class: 'btn btn-default',
                                   method: :put
                                   ) %>

            <%= link_to_with_state(link: t('hi_there.courses.actions.close'),
                                   path: close_course_path(@course),                                   
                                   is_active: @course.closed?,
                                   is_disabled: @course.draft?,
                                   class: 'btn btn-default',
                                   method: :put
                                   ) %>
          </div>

          <div class="btn-group">                                   
            <%= link_to_with_state(link: t('hi_there.courses.actions.edit'),
                                   path: edit_course_path(@course),
                                   is_disabled: !@course.draft?,
                                   class: 'btn btn-default',                                   
                                   ) %>                                   

            <%= link_to_with_state(link: t('hi_there.courses.actions.add_email'),
                                   path: new_course_email_path(@course),
                                   is_disabled: !@course.draft?,
                                   class: 'btn btn-default',                                   
                                   ) %>                                                                     
          </div>

          <div class="btn-group">                                   
            <%= link_to t('hi_there.courses.actions.subscriptions'), course_subscriptions_path(@course), class: 'btn btn-default' %>
          </div>

          <div class="btn-group pull-right">
            <%= link_to_with_state(link: t('hi_there.courses.actions.terminate'),
                                   path: terminate_course_path(@course),
                                   is_disabled: @course.terminated?,
                                   is_dangerous: @course.can_terminate?,
                                   confirm_message:  t('hi_there.courses.actions.confirm_terminate'),
                                   class: 'btn btn-default',
                                   method: :put
                                   ) %>                                                                     
          </div>      
        </div>
      </div>
    </div>

    <div class="page-body">
      <div class="container">
        
        <h2 class="page-subtitle">Email schedule</h2>

        <% if @emails.any? %>
          <table class="course-emails-list table">
            <thead>
              <tr>
                <th>Subject</th>
                <th>Days</th>
                <% if @course.draft? %>
                  <th></th>
                <% end %>
              </tr>
            </thead>

            <tbody class="course-emails-list">
              <%= render partial: 'hi_there/courses/email', collection: @emails, locals: {editable: @course.draft? } %>
            </tbody>
          </table>  
        <% elsif @emails.empty? and @course.draft? %>
          <div class="blank-slate-notice">
            <%= t('hi_there.courses.no_emails') %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>