  <div class="page">
    <%= render partial: 'hi_there/shared/page_header', 
               locals: {
                 title: @course.title, 
                 meta: t("hi_there.courses.current_state.#{@course.current_state}")
               } %>

    <div class="page-actions">
      <div class="container">
        <div class="btn-toolbar">
          <div class="btn-group">
            <% if @course.draft? or @course.closed? %>
              <%= link_to t('hi_there.courses.actions.open'),
                            open_course_path(@course),
                            class: 'btn btn-default',
                            method: :put %>       

            <% elsif @course.opened? %>
              <%= link_to t('hi_there.courses.actions.close'), 
                            close_course_path(@course), 
                            class: 'btn btn-default', 
                            method: :put %>
            <% end %>          

            <% if @course.draft? %>
              <%= link_to t('hi_there.common.actions.edit'), edit_course_path(@course), class: 'btn btn-default' %>                      
            <% end %>

            <%= link_to t('hi_there.courses.actions.subscriptions'), course_subscriptions_path(@course), class: 'btn btn-default' %>
          </div>

          <% if @course.draft? %>
            <div class="btn-group">
              <%= link_to t('hi_there.courses.actions.add_email'), new_course_email_path(@course), class: 'btn btn-default' %>
            </div>
          <% end %>

          <div class="btn-group pull-right">
            <% unless @course.terminated? %>
              <%= link_to t('hi_there.courses.actions.terminate'), 
                            terminate_course_path(@course), 
                            class: 'btn btn-default', 
                            method: :put,
                            data: { 
                              confirm: t('hi_there.courses.actions.confirm_terminate') 
                            } %>
            <% end %>
          </div>          
        </div>
      </div>
    </div>

    <div class="page-body">
      <div class="container">
        
        <h2 class="page-subtitle">Email schedule</h2>

        <% if @emails.any? %>
          <table class="course-emails-list table">
            <thead>
              <tr>
                <th>Subject</th>
                <th>Days</th>
                <% if @course.draft? %>
                  <th></th>
                <% end %>
              </tr>
            </thead>

            <tbody class="course-emails-list">
              <%= render partial: 'hi_there/courses/email', collection: @emails, locals: {editable: @course.draft? } %>
            </tbody>
          </table>  
        <% else %>
          <div class="blank-slate-notice">
            <%= t('hi_there.courses.no_emails') %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>