<div class="page">   
  <%= render partial: 'hi_there/shared/page_header', 
             locals: {
               title: link_to(@course.title, course_path(@course)), 
               meta: t("hi_there.courses.current_state.#{@course.current_state}")
             } %>

  <div class="page-actions">
    <div class="container">
      <div class="btn-toolbar">
        <div class="btn-group">
          <%= link_to_with_state(link: t('hi_there.common.actions.edit'),
                                 path: edit_course_email_path(@course, @email),
                                 is_disabled: !@course.draft?,                                                             
                                 class: 'btn btn-default'
                                 ) %>
        </div>
      </div>
    </div>
  </div>

  <div class="page-body">
    <div class="container">
      <h2 class="page-subtitle"><%= @email.subject %></h2>
      <h5 class="email-interval"><%= t('hi_there.emails.delivered_after', interval: @email.interval) %></h5>
      <div class="email-body">
        <%= @body.html_safe %>
      </div>
    </div>
  </div>
</div>
