<h1>Landing page</h1>

<% if @course and @course.opened? %>
  <%= @course.title %>
  <%= form_tag hi_there.subscriptions_path do |f| %>
    <%= text_field_tag :secret_field %>
    <%= text_field_tag :email %>
    <%= hidden_field_tag :course_id, @course.id %>
    <%= submit_tag "Sign up" %>
  <% end %>
<% end %>
